{% load static %}
<!DOCTYPE html >
<html lang="ru" dir="ltr">
<html>
  <head>
    <title>ИА Панорама Интеллект</title>
    <link href="{% static 'main/style.css'%}" rel="stylesheet">
  </head>
  <header><div style="color:gray">Все совпадения случайны.</div><a style="margin-right: 65px; margin-top: -30px;" сlass = "floating-button"> <img id = "fckblsht" src="https://sun9-8.userapi.com/impg/mBonLLhh4Gk3oj0rtLzAnsOxItBVHdjA0NK-pQ/GbIgN6Weo5c.jpg?size=1015x871&quality=96&sign=bfafb18b9491fa162e2596a6de99292d&type=album"> </a></header>
  <figure class="baha1493">
  <figcaption>
    <div class="date"><span class="day">06</span><span class="month">Feb</span></div>
    <h3>Результаты регионального этапа ВСоШ по математике.</h3>
    <p>
      Члены жюри забыли результаты участников, сославшись на государственную тайну. Комитет образования вопросов не имеет.
    </p>
    <footer>
      <div class="views"><i class="ion-eye"></i>2,907</div>
      <div class="love"><i class="ion-heart"></i>623</div>
      <div class="comments"><i class="ion-chatboxes"></i>23</div>
    </footer>

  </figcaption>
      </figure>
      <figure class="baha1493">
          <div class="image"><img src="https://mitino-tv.ru/images/stories/virtuemart/manufacturer/resized/huawei_180x180.png" alt="ls-sample1" /></div>
      <figcaption>
        <div class="date"><span class="day">06</span><span class="month">Feb</span></div>
        <h3>Подарки от Huawei</h3>
        <p>
          Победителям регионального этапа ВсОШ по математике, полагается новый Huawei. Если в случае победы в олимпиаде у участника обнаружится телефон другой компании, то победа перейдёт следующему по списку.
        </p>
        <footer>
          <div class="views"><i class="ion-eye"></i>2,907</div>
          <div class="love"><i class="ion-heart"></i>623</div>
          <div class="comments"><i class="ion-chatboxes"></i>23</div>
        </footer>

      </figcaption>
          </figure>
      <figure class="baha1493">
      <figcaption>
        <div class="date"><span class="day">06</span><span class="month">Feb</span></div>
        <h3>Баллы за олимпиаду.</h3>
        <p>
          Одному из участников олимпиады регионального этапа ВСоШ по математике умножили баллы на два. Учащийся прокомментировал это удачной игрой в нарды. После этого случая Центр Интеллект открыл сессию по нардам для 9-11 классов и мегафакультет прикладной теории вероятности.
        </p>
        <footer>
          <div class="views"><i class="ion-eye"></i>2,907</div>
          <div class="love"><i class="ion-heart"></i>623</div>
          <div class="comments"><i class="ion-chatboxes"></i>23</div>
        </footer>

      </figcaption>
          </figure>

  <figure class="baha1493">
  <div class="image"><img src="https://i.ytimg.com/vi/__OzY5Yu_qY/maxresdefault.jpg" alt="ls-sample1" /></div>
  <figcaption>
    <div class="date"><span class="day">05</span><span class="month">Feb</span></div>
    <h3>Бюджет Интеллекта</h3>
    <p>
      После проигрыша игры киберспортивной команды Natus Svincer в компьютерной игре CS:GO, Рочев сделал сокращение рабочих мест и заработных плат. Денис Игоревич комментировать происходящее отказался.
    </p>
    <footer>
      <div class="views"><i class="ion-eye"></i>2,907</div>
      <div class="love"><i class="ion-heart"></i>623</div>
      <div class="comments"><i class="ion-chatboxes"></i>23</div>
    </footer>

  </figcaption>
      </figure>
    <figure class="baha1493">
        <div class="image"><img src="https://avatars.mds.yandex.net/get-zen_doc/1581470/pub_5f435f50d222d840991084a7_5f435f5daee5d15985520e98/scale_1200" alt="ls-sample2" /></div>
  <figcaption>
    <div class="date"><span class="day">05</span><span class="month">Feb</span></div>
    <h3>Сжигание работ на регионе по математике</h3>
    <p>
      Работу одного из участников региона сожгли, чтобы поддержать тепло в холодную погоду. Организаторы олимпиады действовали в сответсвии с прававыми нормами.
    </p>
    <footer>
      <div class="views"><i class="ion-eye"></i>2,907</div>
      <div class="love"><i class="ion-heart"></i>623</div>
      <div class="comments"><i class="ion-chatboxes"></i>23</div>
    </footer>
  </figcaption>
  <a href="#"></a>
</figure>
<figure class="baha1493 hover">
  <div class="image"><img src="http://www.lenoblzaks.ru/content/data/store/images/f_3542_175441_1.png" alt="ls-sample2" /></div>
  <figcaption>
    <div class="date"><span class="day">04</span><span class="month">Feb</span></div>
    <h3>Участник регионального этапа угражает члену жюри</h3>
    <p>
      Участник Эйлера из 8 класса угрожал члену жюри регионального этапа поездкой в Мурино. Стороны договорились о подписании контракта на сжигание 10 листов бумаги.
    </p>
    <footer>
      <div class="views"><i class="ion-eye"></i>1,870</div>
      <div class="love"><i class="ion-heart"></i>973</div>
      <div class="comments"><i class="ion-chatboxes"></i>85</div>
    </footer>
  </figcaption>
  <a href="#"></a>
</figure>
<figure class="baha1493 hover">
  <div class="image"><img src="https://i.ytimg.com/vi/n9WoHiL-kvA/maxresdefault.jpg" alt="ls-sample2" /></div>
  <figcaption>
    <div class="date"><span class="day">04</span><span class="month">Feb</span></div>
    <h3>Теннис в Интеллекте</h3>
    <p>
      <!-- В Интеллекте сломался теннисный стол. Центр Интеллект подозревают Pus9vGang. Другая сторона, передав номер главного адвоката, прокомментировало происходящее внезапным кручёным ударом от Саши Малышева. -->
      В Интеллекте сломался теннисный стол. Центр Интеллект подозревают Pus9vGang. Другая сторона, передав номер главного адвоката, прокомментировало происходящее внезапным кручёным ударом от Саши Малышева.
    </p>
    <footer>
      <div class="views"><i class="ion-eye"></i>1,870</div>
      <div class="love"><i class="ion-heart"></i>973</div>
      <div class="comments"><i class="ion-chatboxes"></i>85</div>
    </footer>
  </figcaption>
  <a href="#"></a>
</figure>

<figure class="baha1493">
  <div class="image"><img src="http://news.rusoil.net/files/news/2019/2019_01/2019_01_24_%D0%A4%D0%B8%D0%B7%D0%B8%D0%BA%D0%B0%20%D0%BE%D0%BB%D0%B8%D0%BC%D0%BF/STAR1000.jpg" alt="ls-sample3" /></div>
  <figure class="baha1493 hover">
    <figcaption>
      <div class="date"><span class="day">04</span><span class="month">Feb</span></div>
      <h3>Проверка работ на региональном этапе ВСоШ по физике.</h3>
      <p>
        После получения результатов. Коллектив Pus9vGang усомнился в их коректности и подал коллективный иск. Олимпиадный отдел подал в отставку. Проверяющее комментировать происходящее отказались
      <footer>
        <div class="views"><i class="ion-eye"></i>1,870</div>
        <div class="love"><i class="ion-heart"></i>973</div>
        <div class="comments"><i class="ion-chatboxes"></i>85</div>
      </footer>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figcaption>
    <div class="date"><span class="day">01</span><span class="month">Feb</span></div>
    <h3>Регион по физике</h3>
    <p>
      Pus9vGang: 6 Призёров
    </p>
    <footer>
      <div class="views"><i class="ion-eye"></i>928</div>
      <div class="love"><i class="ion-heart"></i>198</div>
      <div class="comments"><i class="ion-chatboxes"></i>23</div>
    </footer>
  </figcaption>
  <a href="#"></a>
</figure>
<figure class="baha1493 hover">
  <div class="image"><img src="https://sun9-72.userapi.com/impg/GbbBcphFzeFIQwFWaYDcuD07wHmVPNJsOZcKeQ/mJdotiszL_M.jpg?size=1600x1200&quality=96&sign=cec330f5c58d378b982a23eeb1fa5b9e&type=album" alt="ls-sample2" /></div>
  <figcaption>
    <div class="date"><span class="day">04</span><span class="month">Feb</span></div>
    <h3>Выдача дипломов на сессии по Информатике</h3>
    <p>
      Участникам сессии «Алгоритмы и структуры данных» сдавшие зачёт ниже порога выдали дипломы ПХ. Организаторы сессии расшифровали как Похвала. Но у комитета образования возникли вопросы. Что действительно это означает остаётся только догадываться.
    </p>
    <footer>
      <div class="views"><i class="ion-eye"></i>1,870</div>
      <div class="love"><i class="ion-heart"></i>973</div>
      <div class="comments"><i class="ion-chatboxes"></i>85</div>
    </footer>
  </figcaption>
  <a href="#"></a>
</figure>
  <body>
  </body>
</html>
